<html>
  <head>
  </head>
  <body>
    
    <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-dark border-bottom box-shadow mb-3 fixed-top">
            <div class="container">
                <a class="navbar-brand" asp-area="" asp-controller="controller_book" asp-action="Index" style="color: #03ff0b">Books</a>
                <button class="navbar-toggler btn-danger" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
                    <ul class="navbar-nav flex-grow-1 ml-auto">
                        <li class="nav-item">
                            <a class="nav-link text-white" asp-area="" asp-controller="controller_author" asp-action="Index">Authors</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-white" asp-area="" asp-controller="controller_author" asp-action="Create">Create</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-white" asp-area="" asp-controller="controller_author" asp-action="Edit">Edit</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-white" asp-area="" asp-controller="controller_author" asp-action="Delete">Delete</a>
                        </li>
                        <li class="nav-item">
                            <form class="form-inline my-2 my-lg-0" asp-controller="controller_book" asp-action="SearchBook">
                                <input class="form-control mr-sm-2" name="word" type="search" placeholder="Search" aria-label="Search">
                                <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
                            </form>
                        </li>
                    
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    
  </body>
  
</html>

