@model Book_Store.ViewModel.AddAttributeToBook

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Add New Changes For Book</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <div class="form-group">
                <label asp-for="id" class="control-label"></label>
                <input asp-for="id" readonly class="form-control" />
                <span asp-validation-for="id" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="title" class="control-label"></label>
                <input asp-for="title" class="form-control" />
                <span asp-validation-for="title" class="text-danger"></span>
            </div>

            <input type="hidden" asp-for="url" class="form-control" />

            <div class="form-group">
                <label asp-for="Files" class="control-label"></label>
                <input type="file" asp-for="Files" name="Files" class="form-control" />
                <span asp-validation-for="Files" class="text-danger"></span>
            </div>

            <div class="form-group">
                @if (Model.url != null)
                {
                    <img src="~/AllFiles/@Model.url" style="width: 400px" />
                }
            </div>

            <div class="form-group">
                <label asp-for="authorId" class="control-label"></label>
                <select asp-for="authorId" class="form-control"
                        asp-items="@(new SelectList(Model.authors, "id", "full_name"))"></select>
                @if (ViewBag.ErrorMessage != null)
                {
                    <span class="text-danger">@ViewBag.ErrorMessage</span>
                }
            </div>

            <div class="form-group">
                <label asp-for="descreption" class="control-label"></label>
                <textarea asp-for="descreption" id="text_editor_desc"></textarea>
                <span asp-validation-for="descreption" class="text-danger"></span>
            </div>


            <div class="form-group">
                <span> <input type="submit" value="Save" class="btn btn-danger" style="font-weight: bold" /></span>
                <span> <a asp-action="Index" class="btn btn-success" style="font-weight:bold">Back to List</a> </span>
            </div>
        </form>
    </div>
</div>

<script src="~/lib/ckeditor/ckeditor.js"></script>
<script>
    CKEDITOR.replace('text_editor_desc', {
        height: 400,
        width: 1000,
        uiColor: '#9AB8F3',
        language: 'UTF-8',
        extraPlugins: 'youtube',
    });
</script>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
